.chess-message {
    height: 4vh;
    width: 8vw;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 1vw 8vw;
    border-radius: 5px;
    background-color: rgb(24, 24, 24);
    z-index: 20;
    box-shadow: 0 0 10vw 5vw white;
    font-family: "Poppins", sans-serif;
    font-size: 1.2vw;
    color: white;
    margin-left: 8vw;
  }
  